@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

header, main, footer {
  padding: 20px;
}

header {
  background: url(images/logo.svg) no-repeat 10% 10%, url(images/bg-pattern-intro-mobile.svg) no-repeat 35% 30%, linear-gradient(180deg, hsl(13deg, 100%, 72%) 40%, hsl(353deg, 100%, 62%));
  background-size: auto;
  min-height: 500px;
  border-radius: 0px 0px 0px 100px;
}

.header_menu {
  float: right;
  margin-top: 20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(34deg) brightness(101%) contrast(110%);
}

details[open] .header_menu {
  content: url(images/icon-close.svg);
}

::marker {
  color: transparent;
}

.header_menu_deco {
  background: white;
  width: 335px;
  position: absolute;
  top: 100px;
  border-radius: 0.3125em;
  padding: 2em;
  box-shadow: 0px 0px 20px grey;
}

.-detail_wrapper[open] .-rotating_icon {
  transform: rotate(180deg);
}

.header_option, .header_link {
  text-align: center;
  margin-bottom: 1.625em;
  font-weight: 500;
}

.-option_wrapper {
  background-color: #ececec;
  margin: auto;
  margin-bottom: 1em;
  padding: 2em 2.5em 0.5em 2.5em;
  border-radius: 0.3125em;
}

.header_link, .-detail_wrapper[open] {
  color: hsl(207deg, 13%, 34%);
}

.header_title, .header_explain {
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  font-family: "Overpass", sans-serif;
}

.header_title {
  margin-top: 150px;
}

.header_explain {
  margin-top: 20px;
}

.main_title {
  font-size: 1.8rem;
  font-family: "Overpass", sans-serif;
  text-align: center;
  margin: 1.8em 0 0.5em 0;
  color: hsl(208deg, 49%, 24%);
}

.main_explain {
  text-align: center;
  color: hsl(207deg, 13%, 34%);
  line-height: 30px;
  font-family: "Overpass", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.-opacitylow {
  opacity: 0.2;
}

button {
  all: unset;
  cursor: pointer;
}

footer {
  background-color: hsl(240deg, 10%, 16%);
  height: 650px;
  border-radius: 0px 100px 0px 0px;
}

.-buttonstyling_one, .-buttonstyling_two {
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 500;
}

.-buttonstyling_one {
  color: hsl(208deg, 49%, 24%);
}

.-buttonstyling_two {
  background: linear-gradient(100deg, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  padding: 0.6375em 1.75em;
  color: hsl(0deg, 0%, 100%);
  border-radius: 1.25em;
  margin-bottom: 0;
}

.-buttonstyling_three {
  margin-right: 1.25em;
  background-color: white;
  color: hsl(353deg, 100%, 62%);
  border-radius: 1.25em;
  padding: 0.6375em 1.25em;
  font-weight: 700;
}

.-buttonstyling_four {
  color: hsl(0deg, 0%, 100%);
  border-radius: 1.25em;
  border: white 1px solid;
  padding: 0.6375em 1.25em;
  font-weight: 700;
}

.-big {
  font-size: 2.2rem;
}

.-flex_one {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.-desktop {
  display: none;
}

.box_two {
  background: url(images/bg-pattern-circles.svg) no-repeat 50% 10000%, linear-gradient(180deg, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
  background-size: 160%;
  height: 600px;
  padding-top: 160px;
  margin-top: 250px;
  border-radius: 0 5em 0 5em;
  min-width: 375px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 50px;
}

.-sizeadj {
  width: 380px;
  height: 380px;
}

.-position_one {
  position: absolute;
  top: -170px;
  right: 0px;
}

.-floatleft {
  float: left;
}

.-marginleft_neg_40 {
  margin-left: -40px;
}

.-marginleft_neg_80 {
  margin-left: -80px;
}

.-white {
  color: hsl(0deg, 0%, 100%);
}

.-flex_two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.columnflex > div {
  height: 80px;
}

.footer_option, .footer_link {
  text-align: center;
}

.footer_option {
  margin-bottom: 20px;
  color: hsl(0deg, 0%, 100%);
}

.footer_link {
  margin-bottom: 5px;
  color: hsl(240deg, 2%, 79%);
}

.header_option:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: hsl(0deg, 0%, 100%);
          text-decoration-color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}

.header_link:hover {
  color: black;
  cursor: pointer;
}

.-buttonstyling_two:hover {
  opacity: 0.7;
  cursor: pointer;
}

.-buttonstyling_three:hover {
  background-color: hsl(13deg, 100%, 72%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}

.-buttonstyling_four:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(13deg, 100%, 72%);
  cursor: pointer;
}

.footer_link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: hsl(0deg, 0%, 100%);
          text-decoration-color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}

@media (min-width: 990px) {
  .-desktop {
    display: block;
  }
  .-mobile {
    display: none;
  }
  .header_menu_deco {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    min-width: 1000px;
    top: 20px;
    margin-left: 200px;
  }
  .header_option {
    margin-right: 20px;
    color: hsl(0deg, 0%, 100%);
  }
  .main_explain {
    text-align: left;
  }
  .-option_wrapper {
    background-color: white;
    position: absolute;
    box-shadow: 0px 0px 20px grey;
  }
  .-buttonstyling_one {
    margin-right: 0;
    position: absolute;
    left: 400px;
    color: hsl(0deg, 0%, 100%);
  }
  .-buttonstyling_two {
    margin: 0;
    position: absolute;
    left: 500px;
    background: white;
    color: hsl(353deg, 100%, 62%);
  }
  .-floatright {
    float: right;
  }
  .-marginright_neg {
    margin-right: -262px;
  }
  .-margintop_neg {
    margin-top: -100px;
  }
  .-margintop_170 {
    margin-top: 170px;
  }
  .-margintop_200 {
    margin-top: 200px;
  }
  .-marginleft_neg_-290 {
    margin-left: -290px;
  }
  .-floatleft {
    float: left;
  }
  .box_two {
    height: 500px;
    padding-top: 5px;
  }
  .-sizeadj {
    height: 700px;
    width: 700px;
  }
  .-position_one {
    position: relative;
    top: -80px;
  }
  .-height_700px {
    height: 700px;
  }
  .-flex_two {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .-twelve00wid_max_width {
    width: 500px;
  }
  .-twelve00wid_margin-left {
    margin-left: 50px;
  }
  .-twelve00wid_margin-right {
    margin-right: 200px;
  }
  .-buttonstyling_one {
    left: 700px;
  }
  .-buttonstyling_two {
    left: 800px;
  }
}
@media (min-width: 1424px) {
  .-marginleft_neg_-290 {
    margin-left: -960px;
  }
}/*# sourceMappingURL=style.css.map */